<div class="board-container">
  <div class="board" [class.processing]="isProcessing">
    <div *ngFor="let row of board; let i = index" class="row">
      <app-mahjong-tile class="grid-item"
        *ngFor="let tile of row; let j = index"
        [tile]="tile"
        [isSelected]="isTileSelected(i, j)"
        [class.selected]="isTileSelected(i, j)"
        [class.removed]="tile?.isRemoved"
        (click)="selectTile(i, j)">
      </app-mahjong-tile>
    </div>
  </div>

  <div *ngIf="selectedTiles.length > 0" class="selection-info">
    Tuiles sélectionnées: {{ selectedTiles.length }}/2
  </div>

  <div *ngIf="isProcessing" class="processing-info">
    Validation en cours...
  </div>

  <div class="controls">
    <button (click)="resetBoard()" [disabled]="isProcessing" class="reset-button">
      🔄 Nouveau Jeu
    </button>
  </div>
</div>