.tile-container {
    flex: 1;
    height: 75px;
    width: 75px; 
    aspect-ratio: 3/4; 
    padding: 1px;
    box-sizing: border-box;
}
  
.tile {
    width: 100%;
    height: 100%;
    background-color: #fbf5de;
    border: 1px solid #d4a762;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px; 
    cursor: pointer;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
}